
{% extends 'back/master.html' %}

{% load static %}

{% block mainblock %}

<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Manager List<br><small>Add, Edit and Delete the data here!!</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Manager</li>
    <li><a href="/panel/manager/list/">List</a></li>
</ul>
<!-- END Datatables Header -->


<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Manager</strong> List</h2>
    </div>
    

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>IP</th>
                    <th>Location</th>
                    
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for i in managers %}

                <tr>
                    <td class="text-center">{{i.pk}}</td>
                    
                    <td>{{i.name}}</td>
                    
                    <td>{{i.email}}</td>
                    <td>{{i.utxt}}</td>
                    <td>{{i.ip}}</td>
                    <td>{{i.country}}</td>
                    
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{% url 'user_groups' pk=i.pk %}" data-toggle="tooltip" title="Groups" class="btn btn-xs btn-default"><i class="fa fa-pencil">Groups</i></a>
                            <a href="{% url 'user_perms' pk=i.pk %}" data-toggle="tooltip" title="Permissions" class="btn btn-xs btn-default"><i class="fa fa-pencil">Permissions</i></a>
                            <a href="{% url 'manager_del' pk=i.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                        </div>
                    </td>
                </tr>
                
                {% endfor %}
               
                
            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->


{% endblock %}



{% block footerblock_separate_javascript %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}